html {
    font-family: system-ui, -apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}

body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

#container {
    margin-left:  18%;
    margin-right: 18%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#head-container {
    display: flex;
    align-items: flex-start;
}

svg {
    margin-right: 0.5rem;
}

#logo-header {
    font-size: 1.475rem;
}

nav {
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 0.5rem;
}

hr {
    border: 0.001rem solid #ccc;
}

main {
    text-align: center;
}

h1 {
    font-size: 3.25rem;
    font-weight: 400;
    margin: 0rem;
    margin-top: 2.5rem;
}

h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.25rem;
}

hgroup h2 {
    line-height: 1.85rem;
    color: #666;
}

.card {
    border-radius: 8px;
    border: 00.001rem solid #ccc;
    overflow: hidden;
    margin: 0.6rem;
    padding-bottom: 0.6rem;
}
.card-content {
    padding-left:  25%;
    padding-right: 25%;

}

div h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    background-position: center center;
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

#blue-back {
    background: rgb(13, 110, 253);
    color: white;
}

.money {
    font-weight: 500;
    font-size: 2.5rem;
}

.month {
    font-weight: 50;
    font-size: 2rem;
    color: rgba(33, 37, 41, 0.75);
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}