html {
    font-family: system-ui, -apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}

body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

#container {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#head-container {
    display: flex;
    align-items: flex-start;
}

svg {
    margin-right: 0.5rem;
}

#logo-header {
    font-size: 1.475rem;
}

nav {
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 0.5rem;
}

hr {
    border: 0.001rem solid #ccc;
}

main {
    text-align: center;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.25rem;
    font-weight: 400;
    margin: 0rem;
    margin-top: 2.5rem;
}

h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.25rem;
}

hgroup {
    position: relative;
}

hgroup h2 {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.85rem;
    color: #666;
}

#cards-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    position: relative;
    width: 35%;
    border-radius: 8px;
    border: 00.001rem solid #aaa;
    overflow: hidden;
    margin: 0.6rem;
    padding-bottom: 0.6rem;
}

@media only screen and (max-width: 800px) {
    #cards-container {
        flex-direction: column;
    }

    .card {
        width: 98%;
    }
}

.card-content {
    padding-left: 12%;
    padding-right: 12%;
}

div h4 {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    background-position: center center;
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

#blue-back {
    background: rgb(13, 110, 253);
    color: white;
}

.money {
    font-weight: 500;
    font-size: 2.5rem;
}

.month {
    font-weight: 50;
    font-size: 2rem;
    color: rgba(33, 37, 41, 0.75);
}

button {
    flex-grow: 1;
    margin-top: 4%;
    margin-bottom: 0;
    width: 100%;
    height: 30%;
    border: 1px solid rgb(13, 110, 253);
    border-radius: 8px;
    font-size: 1.25rem;
}

.card div {
    flex-grow: 4;
}

.white-button {
    color: rgb(13, 110, 253);
    background-color: white;
}

.white-button:hover {
    color: white;
    background-color: rgb(13, 110, 253);
}

.blue-button {
    color: white;
    background-color: rgb(13, 110, 253);
}

.blue-button:hover {
    color: white;
    background-color: rgb(10, 95, 255);
}

div>h1 {
    font-weight: 200;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

table {
    font-weight: bold;
    width: 100%;
    /* border: 1px solid #aaa; */
}

table, tr {
    /* border: 1px solid black; */
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-collapse: collapse;
}

footer {
    margin-top: 1rem;
    display: flex;
    color: #666;
    justify-content: space-around;
}

td {
    width: 22%;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    color: #000;
}

.first-in-table {
    width: 34%;
    text-align: left;
}

footer>div {
    margin: 0.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}